/* Ionic Variables and Theming. For more info, please see:
  http://ionicframework.com/docs/theming/ */

@tailwind base;
@tailwind components;
@tailwind utilities;

.ios {
	--ion-safe-area-top: 28px;
	--ion-safe-area-bottom: 16px;
}

:root {
	--surface: #eeedf6;
	--primary: #d7d2e5;
	--primary-text: #2d2d2d;
	--secondary-text: #5d5d65;
	--accent: #3a2260;
	--on-accent: #d7d2e5;
	--highlight: #cdc9dc;
	--success: #279b48;
	--warning: #e58600;
	--error: #ee342b;
	--statusbar: #000000;
	--stroke: #9b8db1;
	--ion-background-color: var(--surface);
	--ion-text-color: var(--on);
	--ion-tab-bar-background: var(--surface);
	--ion-tab-bar-color-selected: var(--on);
	--ion-tab-bar-color: var(--on-alt);
	--ion-safe-area-top: 0px;
	--ion-default-font: 'Gantari Variable';
	--ion-font-family: 'Gantari Variable';
	--ion-padding: 20px;
}

@media (prefers-color-scheme: dark) {
	/*
     * Dark Colors
     * -------------------------------------------
     */

	body {
		--surface: #302551;
		--primary: #44365c;
		--primary-text: #f7faff;
		--secondary-text: #c0c0ca;
		--accent: #dfddd7;
		--on-accent: #44365c;
		--highlight: #655480;
		--success: #4ecb71;
		--warning: #ff9601;
		--error: #ff6681;
		--statusbar: #ffffff;
		--stroke: #4f4968;
		--ion-background-color: var(--surface);
		--ion-text-color: var(--on);
		--ion-tab-bar-background: var(--surface);
		--ion-tab-bar-color-selected: var(--on);
		--ion-tab-bar-color: var(--on-alt);
		--ion-safe-area-top: 0px;
		--ion-default-font: 'Gantari Variable';
		--ion-font-family: 'Gantari Variable';
		--ion-padding: 20px;
	}
}

/*
* Classic class selector way - assign dark md or dark ios to force dark mode
* See https://ionicframework.com/docs/theming/dark-mode
*/

body.dark {
	--surface: #302551;
	--primary: #44365c;
	--primary-text: #f7faff;
	--secondary-text: #c0c0ca;
	--accent: #dfddd7;
	--on-accent: #44365c;
	--highlight: #655480;
	--success: #4ecb71;
	--warning: #ff9601;
	--error: #ff6681;
	--statusbar: #ffffff;
	--stroke: #4f4968;
	--ion-background-color: var(--surface);
	--ion-text-color: var(--on);
	--ion-tab-bar-background: var(--surface);
	--ion-tab-bar-color-selected: var(--on);
	--ion-tab-bar-color: var(--on-alt);
	--ion-safe-area-top: 0px;
	--ion-default-font: 'Gantari Variable';
	--ion-font-family: 'Gantari Variable';
	--ion-padding: 20px;
}
