<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOJwVCdCjreSG5yMSvFmRS1v0Lx4xc6n8</string>
	<key>GCM_SENDER_ID</key>
	<string>918939182691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.didroom.verifier</string>
	<key>PROJECT_ID</key>
	<string>didroom-verifier</string>
	<key>STORAGE_BUCKET</key>
	<string>didroom-verifier.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918939182691:ios:105994b810db9d6b6efa56</string>
</dict>
</plist>